
body {
    /* background: rgb(34,195,169);
    background: linear-gradient(0deg, rgba(34,195,169,1) 0%, rgba(195,219,217,1) 50%, rgba(255,228,225,1) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; */
    background: rgba(255,228,225,1);
}

* {
    /* font-family: 'Noto Sans JP' !important; */
    font-family: 'Heebo', sans-serif !important;
}