
body {
    background-color: #FFE4E1;
    /* background-image: url("../memoriesLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

* {
    /* font-family: 'Noto Sans JP' !important; */
    font-family: 'Heebo', sans-serif !important;
}